* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
  background-color: black;
}
body {
  background-color: black;
  color: white;
}
.bgi {
  background-image: url("bg.jpg");
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
.black {
  background-color: black;
}

.bg {
  background-color: rgb(32, 31, 31);
}
.container {
  padding: 2rem 1rem 0rem 1rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 10px;
  position: fixed;
  background-color: black;
  z-index: 1;
  border-bottom: 2px solid rgb(59, 233, 233);
  text-align: center;
  gap: 10rem;
  /* padding: 0rem 1rem 0rem 1rem; */
}
.port {
  /* width: 30%; */
  margin-left: 5rem;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: aqua;
}

ul {
  height: 3rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 8rem;
}

ul a {
  margin-left: 5rem;
  border: none;
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s;
  border: 2px solid rgb(32, 31, 31);
}

a:hover {
  border-color: aqua;
}

.home {
  width: 100%;
  height: 90vh;
  /* background-color: aquamarine; */
  display: flex;
}

.info {
  margin-top: 4rem;
  /* background-color: blue; */
  padding: 1rem 1rem 1rem 3rem;
  line-height: 3rem;
  max-width: 60%;
}
.designation {
  color: aqua;
  font-size: 38px;
}
.information {
  margin-top: 1rem;
  line-height: 2rem;
}
p {
  margin-top: 10px;
}
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
  padding: 1rem;
  max-width: auto;
  width: 40%;
  border: none;
}
.pic {
  border-radius: 50%;
  overflow: hidden;
  transition: all ease 0.4s;
}
.pic:hover {
  border: 3px solid aqua;
  box-shadow: 0px 0px 18px 7px aqua;
}
.img {
  border: none;
  width: 300px;
  height: 300px;
}
.socialmedia {
  display: flex;
  gap: 1.5rem;
  margin-top: 3rem;
}
.sm {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid aqua;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all ease 0.6s;
}
.sm:hover,
.icon:hover {
  background-color: aqua;
  fill: black;
}
.icon {
  transition: all ease 0.6s;
  padding: 2px 4px;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  fill: aqua;
}
.skill {
  background-color: blue;
  border: 3px solid;
  border-top-color: aqua;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 200px;
}

.about {
  height: 90vh;
  width: 100%;
  text-align: center;
}
.hd {
  display: inline-block;
  border-bottom: 2px solid aqua;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: aqua;
  padding: 10px;
  transition: fill ease 0.3s;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: black;
  position: absolute;
  /* background-color: rgba(255, 255, 255, 0.308); */
  margin-top: 2rem;
  height: 60vh;
  width: 93vw;
}
.s {
  text-align: center;
  height: 100%;
  width: 300px;
  background-color: #e3edf7f6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.skill-nm {
  position: absolute;
  top: 2.5rem;
}
.outer {
  height: 160px;
  width: 160px;

  /* background-color: blue; */
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  padding: 18px;
}
.inner {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px 1px rgba(0, 0, 0, 0.2),
    inset -4px 4px 6px 1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}
.number {
  font-weight: bold;
  font-size: 20px;
}
.html-progress {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 21px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}
.css-progress {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 21px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}

.js-progress {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 21px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}
.sql-progress {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 21px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
.html.show {
  animation-name: html;
}

.css.show {
  animation-name: css;
}

.js.show {
  animation-name: js;
}

.sql.show {
  animation-name: sql;
}

svg {
  position: absolute;
}
@keyframes html {
  100% {
    stroke-dashoffset: 47;
  }
}

@keyframes css {
  100% {
    stroke-dashoffset: 71;
  }
}
@keyframes js {
  100% {
    stroke-dashoffset: 95;
  }
}
@keyframes sql {
  100% {
    stroke-dashoffset: 165;
  }
}
.txt-center {
  text-align: center;

  display: inline-block;
}
.services {
  margin-top: 2rem;
  height: 90vh;
  width: 91vw;
  text-align: center;
}

.service-box {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}

.box {
  border-radius: 8px;
  text-align: left;
  max-width: 400px;
  box-shadow: 0px 0px 15px 5px blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
  transition: all ease 0.7s;
}
.box:hover {
  transform: translatey(-20px);
}

.s-icon {
  height: 28px;
  width: 28px;
  fill: aqua;
}
.service-hd {
  font-size: 24px;
  font-weight: bold;
}
.service-info {
  font-size: 14px;
  font-weight: 600;
}

.service-btn {
  padding: 8px 16px;
  border-radius: 1rem;
  border: none;
  color: black;
  font-weight: bold;
  background-color: aqua;
  transition: all ease 0.4s;
}
.service-btn:hover {
  box-shadow: 0px 0px 8px 5px aqua;
}

.work {
  height: 90vh;
  width: 91vw;
  text-align: center;
  margin-top: -3rem;
}

.work-box {
  margin-top: 7rem;
  display: flex;
  gap: 2rem;
}
.wbox {
  border-radius: 8px;
  width: 400px;
  max-width: 400px;
  box-shadow: 0px 0px 15px 5px blue;
  color: blue;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all ease 0.7s;
  font-weight: bold;
}

.wbox:hover {
  background-color: blue;
  animation: re 1s linear;
  color: white;
}

@keyframes re {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.w-icon {
  margin-top: 1rem;
  height: 52px;
  width: 52px;
}
.work-hd {
  margin-top: 2.5rem;
  text-align: center;
}
.work-info {
  margin-bottom: 2rem;
}

.work-span {
  overflow-wrap: break-word;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
  color: aqua;
}
.experience {
  font-size: 20px;
  margin-left: 2px;
}

.contect {
  text-align: center;
  /* background-color: rgb(90, 52, 3); */
  height: 90vh;
  width: 100%;
}

.contect-hd {
  margin-top: 3rem;
}

.form-info {
  /* background-color: yellow; */
  height: 75vh;
  width: 70%;
  padding: 1.5rem;
  border: 2px solid aqua;
  margin: 1rem auto 1rem auto;
}
.info1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info1 input {
  padding: 8px;
  font-size: 16px;

  border-radius: 10px;
  border: none;
  color: rgba(250, 246, 246, 0.411);
}

.contect-info {
  border: 2px solid aqua;
  border-radius: 10px;
  padding: 1rem;
  height: 25%;
  width: 70%;
  margin: 1rem auto 1rem auto;
  color: aqua;
}
.us {
  font-size: 22px;
  font-weight: bold;
  margin-top: -3px;
}

.em {
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 25px;
}

.nu {
  letter-spacing: 0.7px;
}
